@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
  width: 100%;
  padding: 80px 0;
	display: flex;

  font-family: var(--font-inter);
}

.header {
	flex: 1;
  text-align: left;
	line-height: 1.5;
  margin-bottom: 48px;
	font-weight: 500;
}

.title {
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
  color: #18181B;
  margin: 0;

  @media (max-width: 768px) {
    font-size: 36px;
  }
}

.subtitle {
  color: var(--color-primary);
}

.cards {
	flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.icon {
  width: 32px;
  height: 32px;
  color: var(--color-primary);
}
