@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	max-width: 1440px;
	height: 688px;

	margin: 0 auto 80px;

	@include tablet {
		max-height: 500px;
	}

	@include tablet-small {
		height: 655px;
		max-height: none;
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		position: relative;

		height: 100%;

		margin: 0 16px;

		padding: 0 55px;

		background: center no-repeat url('../../../public/images/redbox_back.png');

		background-size: 95%;

		background-color: var(--color-red-accent);

		border-radius: 30px;

		@include tablet {
			background-size: contain;

			align-items: flex-start;

			margin: 0;
			padding: 0 32px;
		}

		@include tablet-small {
			padding: 0 14px 36px;

			justify-content: flex-end;
		}
	}

	.title {
		color: #FFF;
		font-size: 48px;
		font-weight: 500;
		margin-bottom: 40px;
		text-align: center;

		@include tablet {
			text-align: left;

			font-size: 37px;
			margin-bottom: 24px;

			line-height: 120%;
		}

		@include tablet-small {
			font-size: 28px;
		}
	}

	.buttons {
		display: flex;
		gap: 20px;
		flex-wrap: wrap;

		align-items: center;
		justify-content: center;

		@include tablet {
			gap: 8px;
			justify-content: flex-start;
		}

		& + .buttons {
			margin-top: 20px;
		}

		button {
			display: flex;
			align-items: center;
			gap: 8px;
			padding: 16.5px 24px;
			white-space: nowrap;
			cursor: default;

			border-radius: 35px;
			border: 1px solid #FFF;

			background-color: #FFF;

			font-family: var(--font-inter);
			font-weight: 500;
			font-size: 20px;
			line-height: 130%;

			transition: all 1s ease;

			@include tablet {
				font-size: 16px;
			}

			@include tablet-small {
				padding: 12px 16px;
			}

			&:hover,
			&:focus {
				background-color: var(--color-red-accent);
				color: white;
				border: 1px solid #FFFFFF32;
			}

			.icon {
				width: 24px;
				height: 24px;
				fill: currentColor;

				@include tablet {
					width: 20px;
					height: 20px;
				}
			}
		}
	}
}
