@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";

.root {
  width: 100%;
  max-width: 1192px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  background: #fff;
}

.cards {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.cardWrapper {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  will-change: transform;
  transform-origin: center;
  backface-visibility: hidden;
}

.card {
  width: 100%;
  display: flex;
  align-items: center;
}
