@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";

.root {
  position: relative;
  border-radius: inherit;
  overflow: hidden;

  &:hover {
    .border span {
      opacity: 1;
    }
  }
}

.content {
  position: relative;
  z-index: 1;
  height: 100%;
  background: inherit;
}

.border {
  position: absolute;
  inset: 0;

  span {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: var(--border-width);
  }

  span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: var(--border-width);
    background: linear-gradient(to right,
      transparent,
      var(--border-color)
    );
    animation: animateTop var(--animation-duration) linear infinite;
  }

  span:nth-child(2) {
    top: 0;
    right: 0;
    width: var(--border-width);
    height: 100%;
    background: linear-gradient(to bottom,
      transparent,
      var(--border-color)
    );
    animation: animateRight var(--animation-duration) linear infinite;
    animation-delay: calc(var(--animation-duration) * 0.25);
  }

  span:nth-child(3) {
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--border-width);
    background: linear-gradient(to left,
      transparent,
      var(--border-color)
    );
    animation: animateBottom var(--animation-duration) linear infinite;
    animation-delay: calc(var(--animation-duration) * 0.5);
  }

  span:nth-child(4) {
    top: 0;
    left: 0;
    width: var(--border-width);
    height: 100%;
    background: linear-gradient(to top,
      transparent,
      var(--border-color)
    );
    animation: animateLeft var(--animation-duration) linear infinite;
    animation-delay: calc(var(--animation-duration) * 0.75);
  }
}

@keyframes animateTop {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animateRight {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes animateBottom {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes animateLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
